.badge-beg {
	background: $brand-beginner;
	color: darken($brand-beginner, 50);
}

.badge-int {
	background: $brand-intermediate;
	color: darken($brand-intermediate, 50);
}

.badge-adv {
	background: $brand-advanced;
	color: darken($brand-advanced, 50);
}

.badge-all {
	background: $brand-all-levels;
	color: darken($brand-all-levels, 50);
}

label.error {
	@extend .shadow;
    position: absolute;
    left: 0;
    background: #f8d7da;
    border-radius: 4px;
    padding: 4px 12px;
    z-index: 10;
}
label.error:after, label.error:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

label.error:after {
    border-bottom-color: #f8d7da;
    border-width: 8px;
    margin-left: -8px;
}
label.error:before {
    border-bottom-color: #f8d7da;
    border-width: 9px;
    margin-left: -9px;
}